<!-- templates/command_button_settings.jinja2 -->
<form class="form-horizontal">
    <h4>Commands</h4>
    <div class="control-group">
        <label class="control-label" for="commands">Commands</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-mini text-right" data-bind="value: settings.plugins.commandbutton.commands">
            </div>
            <p class="help-block">Enter one command per line.</p>
        </div>
    </div>

</form>