<form class="form-horizontal">

    <!-- TODO: make button change colors if toggled? -->


<h4>Command Buttons</h4>
    <div data-bind="foreach: command_definitions">
        <!-- For each command in 'commands', create a button -->
        <button class="btn btn-default" data-bind="text: $data.name(), click: function() { $parent.runCommand($data.name()); }, visible: $data.enabled() && $data.name().length != 0"></button>
    </div>
</form>